/**
 * Float Layout Activity
 * Luiz Oliveira
 **/

* {
  box-sizing: border-box;
  box
  text-align: left;

  font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}

footer {
    text-align: center;
    padding: 35px;  
    
    background:#ebebeb;
    color: #ffffff;border-top-color: #4aaaa5;
    background-color: #666666;
    font-size: 6px;
    border-top-style:solid; 
    border-top-width: 6px;

}

.navbar-brand {
    background-color: #4aaaa5;
    -webkit-text-fill-color: white;
}
h1,h5,h6 {
    -webkit-text-fill-color: #4aaaa5;
}

